.modal-block.modal-header-color .panel_hwc_modal-heading h2 {
    color: #FFF;
}

.modal-block.modal-full-color {
    color: #FFF;
}

.modal-block.modal-full-color .panel_hwc_modal-heading {
    border: 0;
}

.modal-block.modal-full-color .panel_hwc_modal-heading h2 {
    color: #FFF;
}

.modal-block.modal-full-color .panel_hwc_modal-footer {
    border: 0;
}

.modal-block.modal-full-color .panel_hwc_modal-body {
    background-color: transparent;
}

.modal-block.modal-full-color .fa {
    color: #FFF !important;
}

/* Modal Wrapper */
.modal-wrapper {
    position: relative;
    padding: 25px 0;
}

/* Modal Icon */
.modal-icon {
    float: left;
    width: 20%;
    text-align: center;
}

.modal-icon .fa {
    font-size: 52px;
    position: relative;
    top: -10px;
    color: #cccccc;
}

.modal-icon.center {
    float: none;
    width: auto;
    padding-top: 20px;
}

.modal-icon.center + .modal-text {
    float: none;
    width: auto;
}

.modal-icon + .modal-text {
    float: left;
    width: 80%;
}

/* Modal Text */
.modal-text {
    padding: 0 5px;
}

.modal-text h1, .modal-text h2, .modal-text h3, .modal-text h4, .modal-text h5, .modal-text h6 {
    padding: 0;
    margin: -7px 0 4px 0;
}

.modal-block-primary .fa {
    color: #cccccc;
}

.modal-block-primary.modal-header-color .panel_hwc_modal-heading {
    background-color: #cccccc;
}

.modal-block-primary.modal-full-color .panel_hwc_modal {
    background-color: #e0e0e0;
}

.modal-block-primary.modal-full-color .panel_hwc_modal-heading {
    background-color: #cccccc;
}

.modal-block-primary.modal-full-color .panel_hwc_modal-footer {
    background-color: #e0e0e0;
}

.modal-block-success .fa {
    color: #47a447;
}

.modal-block-success.modal-header-color .panel_hwc_modal-heading {
    background-color: #47a447;
}

.modal-block-success.modal-full-color .panel_hwc_modal {
    background-color: #5cb85c;
}

.modal-block-success.modal-full-color .panel_hwc_modal-heading {
    background-color: #47a447;
}

.modal-block-success.modal-full-color .panel_hwc_modal-footer {
    background-color: #5cb85c;
}

.modal-block-warning .fa {
    color: #ed9c28;
}

.modal-block-warning.modal-header-color .panel_hwc_modal-heading {
    background-color: #ed9c28;
}

.modal-block-warning.modal-full-color .panel_hwc_modal {
    background-color: #f0ad4e;
}

.modal-block-warning.modal-full-color .panel_hwc_modal-heading {
    background-color: #ed9c28;
}

.modal-block-warning.modal-full-color .panel_hwc_modal-footer {
    background-color: #f0ad4e;
}

.modal-block-danger .fa {
    color: #d2322d;
}

.modal-block-danger.modal-header-color .panel_hwc_modal-heading {
    background-color: #d2322d;
}

.modal-block-danger.modal-full-color .panel_hwc_modal {
    background-color: #d9534f;
}

.modal-block-danger.modal-full-color .panel_hwc_modal-heading {
    background-color: #d2322d;
}

.modal-block-danger.modal-full-color .panel_hwc_modal-footer {
    background-color: #d9534f;
}

.modal-block-info .fa {
    color: #5bc0de;
}

.modal-block-info.modal-header-color .panel_hwc_modal-heading {
    background-color: #5bc0de;
}

.modal-block-info.modal-full-color .panel_hwc_modal {
    background-color: #7dcde5;
}

.modal-block-info.modal-full-color .panel_hwc_modal-heading {
    background-color: #5bc0de;
}

.modal-block-info.modal-full-color .panel_hwc_modal-footer {
    background-color: #7dcde5;
}

.modal-block-dark .fa {
    color: #171717;
}

.modal-block-dark.modal-header-color .panel_hwc_modal-heading {
    background-color: #171717;
}

.modal-block-dark.modal-full-color .panel_hwc_modal {
    background-color: #2b2b2b;
}

.modal-block-dark.modal-full-color .panel_hwc_modal-heading {
    background-color: #171717;
}

.modal-block-dark.modal-full-color .panel_hwc_modal-footer {
    background-color: #2b2b2b;
}

html.dark .modal-content {
    background-color: #1d2127;
}

html.dark .modal-header,
html.dark .modal-footer {
    border-color: #282d36;
}

/* Modal */
.modal-block-primary .fa {
    color: #0088cc;
}

.modal-block-primary.modal-header-color .panel_hwc_modal-heading {
    background-color: #0088cc;
}

.modal-block-primary.modal-full-color .panel_hwc_modal {
    background-color: #00a3f5;
}

.modal-block-primary.modal-full-color .panel_hwc_modal-heading {
    background-color: #0088cc;
}

.modal-block-primary.modal-full-color .panel_hwc_modal-footer {
    background-color: #00a3f5;
}
/* Modal Icon */
.modal-block-primary .modal-icon .fa {
    color: #0088cc;
}


.panel_hwc_modal {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    /* WHY?
    + .panel_hwc_modal {
        margin-top: 35px;
    }*/;
}

.panel_hwc_modal-heading {
    background: #f6f6f6;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #DADADA;
    padding: 18px;
    position: relative;
}

.panel_hwc_modal-heading.bg-primary {
    background: #cccccc;
    color: white;
    border-bottom: 0 none;
    border-right: 0 none;
}

.panel_hwc_modal-heading.bg-secondary {
    background: #e36159;
    color: white;
    border-bottom: 0 none;
    border-right: 0 none;
}

.panel_hwc_modal-heading.bg-tertiary {
    background: #2baab1;
    color: white;
    border-bottom: 0 none;
    border-right: 0 none;
}

.panel_hwc_modal-heading.bg-quartenary {
    background: #734ba9;
    color: white;
    border-bottom: 0 none;
    border-right: 0 none;
}

.panel_hwc_modal-heading.bg-success {
    background: #47a447;
    color: white;
    border-bottom: 0 none;
    border-right: 0 none;
}

.panel_hwc_modal-heading.bg-warning {
    background: #ed9c28;
    color: white;
    border-bottom: 0 none;
    border-right: 0 none;
}

.panel_hwc_modal-heading.bg-danger {
    background: #d2322d;
    color: white;
    border-bottom: 0 none;
    border-right: 0 none;
}

.panel_hwc_modal-heading.bg-info {
    background: #5bc0de;
    color: white;
    border-bottom: 0 none;
    border-right: 0 none;
}

.panel_hwc_modal-heading.bg-dark {
    background: #171717;
    color: white;
    border-bottom: 0 none;
    border-right: 0 none;
}

.panel_hwc_modal-heading.bg-white {
    background: #fff;
    border-bottom: 0 none;
    border-right: 0 none;
}

.panel_hwc_modal-actions {
    right: 15px;
    position: absolute;
    top: 15px;
}

.panel_hwc_modal-actions a,
.panel_hwc_modal-actions .panel_hwc_modal-action {
    background-color: transparent;
    border-radius: 2px;
    color: #b4b4b4;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    width: 24px;
}

.panel_hwc_modal-actions a:hover,
.panel_hwc_modal-actions .panel_hwc_modal-action:hover {
    background-color: #eeeeee;
    color: #b4b4b4;
    text-decoration: none;
}

.panel_hwc_modal-actions a, .panel_hwc_modal-actions a:focus, .panel_hwc_modal-actions a:hover, .panel_hwc_modal-actions a:active, .panel_hwc_modal-actions a:visited,
.panel_hwc_modal-actions .panel_hwc_modal-action,
.panel_hwc_modal-actions .panel_hwc_modal-action:focus,
.panel_hwc_modal-actions .panel_hwc_modal-action:hover,
.panel_hwc_modal-actions .panel_hwc_modal-action:active,
.panel_hwc_modal-actions .panel_hwc_modal-action:visited {
    outline: none !important;
    text-decoration: none !important;
}

.panel_hwc_modal-title {
    color: #33353f;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding: 0;
    text-transform: none;
}

.panel_hwc_modal-subtitle {
    color: #808697;
    font-size: 12px;
    line-height: 1.2em;
    margin: 7px 0 0;
    padding: 0;
}

.panel_hwc_modal-body {
    background: #fdfdfd;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.panel_hwc_modal-body-nopadding {
    padding: 0;
}

.panel_hwc_modal-heading + .panel_hwc_modal-body {
    border-radius: 0 0 5px 5px;
}

.panel_hwc_modal-footer {
    border-radius: 0 0 5px 5px;
    margin-top: -5px;
}

.panel_hwc_modal-footer-btn-group {
    display: table;
    width: 100%;
    padding: 0;
}

.panel_hwc_modal-footer-btn-group a {
    background-color: #f5f5f5;
    display: table-cell;
    width: 1%;
    border-left: 1px solid #ddd;
    padding: 10px 15px;
    text-decoration: none;
}

.panel_hwc_modal-footer-btn-group a:hover {
    background-color: #f0f0f0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1) inset;
}

.panel_hwc_modal-footer-btn-group a:first-child {
    border-left: none;
}

.panel_hwc_modal-body.bg-primary {
    background: #cccccc;
    color: white;
}

.panel_hwc_modal-body.bg-secondary {
    background: #e36159;
    color: white;
}

.panel_hwc_modal-body.bg-tertiary {
    background: #2baab1;
    color: white;
}

.panel_hwc_modal-body.bg-quartenary {
    background: #734ba9;
    color: white;
}

.panel_hwc_modal-body.bg-success {
    background: #47a447;
    color: white;
}

.panel_hwc_modal-body.bg-warning {
    background: #ed9c28;
    color: white;
}

.panel_hwc_modal-body.bg-danger {
    background: #d2322d;
    color: white;
}

.panel_hwc_modal-body.bg-info {
    background: #5bc0de;
    color: white;
}

.panel_hwc_modal-body.bg-dark {
    background: #171717;
    color: white;
}

.panel_hwc_modal-featured {
    border-top: 3px solid #33353f;
}

.panel_hwc_modal-featured .panel_hwc_modal-heading {
    border-radius: 0;
}

.panel_hwc_modal-featured-top {
    border-top: 3px solid #33353f;
}

.panel_hwc_modal-featured-right {
    border-right: 3px solid #33353f;
}

.panel_hwc_modal-featured-bottom {
    border-bottom: 3px solid #33353f;
}

.panel_hwc_modal-featured-left {
    border-left: 3px solid #33353f;
}

.panel_hwc_modal-featured-primary {
    border-color: #cccccc;
}

.panel_hwc_modal-featured-primary .panel_hwc_modal-title {
    color: #cccccc;
}

.panel_hwc_modal-featured-secondary {
    border-color: #e36159;
}

.panel_hwc_modal-featured-secondary .panel_hwc_modal-title {
    color: #e36159;
}

.panel_hwc_modal-featured-tertiary {
    border-color: #2baab1;
}

.panel_hwc_modal-featured-tertiary .panel_hwc_modal-title {
    color: #2baab1;
}

.panel_hwc_modal-featured-quartenary {
    border-color: #734ba9;
}

.panel_hwc_modal-featured-quartenary .panel_hwc_modal-title {
    color: #734ba9;
}

.panel_hwc_modal-featured-success {
    border-color: #47a447;
}

.panel_hwc_modal-featured-success .panel_hwc_modal-title {
    color: #47a447;
}

.panel_hwc_modal-featured-warning {
    border-color: #ed9c28;
}

.panel_hwc_modal-featured-warning .panel_hwc_modal-title {
    color: #ed9c28;
}

.panel_hwc_modal-featured-danger {
    border-color: #d2322d;
}

.panel_hwc_modal-featured-danger .panel_hwc_modal-title {
    color: #d2322d;
}

.panel_hwc_modal-featured-info {
    border-color: #5bc0de;
}

.panel_hwc_modal-featured-info .panel_hwc_modal-title {
    color: #5bc0de;
}

.panel_hwc_modal-featured-dark {
    border-color: #171717;
}

.panel_hwc_modal-featured-dark .panel_hwc_modal-title {
    color: #171717;
}

.panel_hwc_modal-highlight .panel_hwc_modal-heading {
    background-color: #cccccc;
    border-color: #cccccc;
    color: #fff;
}

.panel_hwc_modal-highlight .panel_hwc_modal-title {
    color: #fff;
}

.panel_hwc_modal-highlight .panel_hwc_modal-subtitle {
    color: #fff;
    color: rgba(255, 255, 255, 0.7);
}

.panel_hwc_modal-highlight .panel_hwc_modal-actions a {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
}

.panel_hwc_modal-highlight .panel_hwc_modal-body {
    background-color: #cccccc;
    color: #fff;
}

.panel_hwc_modal-highlight-title .panel_hwc_modal-heading {
    background-color: #2BAAB1;
}

.panel_hwc_modal-highlight-title .panel_hwc_modal-title {
    color: #fff;
}

.panel_hwc_modal-highlight-title .panel_hwc_modal-subtitle {
    color: #fff;
    color: rgba(255, 255, 255, 0.7);
}

.panel_hwc_modal-highlight-title .panel_hwc_modal-actions a {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
}

.panel_hwc_modal-heading-icon {
    margin: 0 auto;
    font-size: 42px;
    font-size: 4.2rem;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 55px;
    border-radius: 55px;
}

.panel_hwc_modal-heading-icon.bg-primary {
    background: #cccccc;
    color: white;
}

.panel_hwc_modal-heading-icon.bg-secondary {
    background: #e36159;
    color: white;
}

.panel_hwc_modal-heading-icon.bg-tertiary {
    background: #2baab1;
    color: white;
}

.panel_hwc_modal-heading-icon.bg-quartenary {
    background: #734ba9;
    color: white;
}

.panel_hwc_modal-heading-icon.bg-success {
    background: #47a447;
    color: white;
}

.panel_hwc_modal-heading-icon.bg-warning {
    background: #ed9c28;
    color: white;
}

.panel_hwc_modal-heading-icon.bg-danger {
    background: #d2322d;
    color: white;
}

.panel_hwc_modal-heading-icon.bg-info {
    background: #5bc0de;
    color: white;
}

.panel_hwc_modal-heading-icon.bg-dark {
    background: #171717;
    color: white;
}

.panel_hwc_modal-heading-profile-picture img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 4px solid #fff;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.panel_hwc_modal-icon {
    color: #fff;
    font-size: 42px;
    float: left;
}

.panel_hwc_modal-icon ~ .panel_hwc_modal-title, .panel_hwc_modal-icon ~ .panel_hwc_modal-subtitle {
    margin-left: 64px;
}

/* Dark - Panel_hwc_modals */
html.dark .panel_hwc_modal-heading {
    background: #282d36;
    border-bottom-color: #1d2127;
}

html.dark .panel_hwc_modal-actions a:hover {
    background-color: #242830;
}

html.dark .panel_hwc_modal-body {
    background: #2e353e;
}

html.dark .panel_hwc_modal-footer {
    background: #242830;
    border-top-color: #191c21;
}

html .panel_hwc_modal-primary .panel_hwc_modal-heading {
    background: #cccccc;
}

html .panel_hwc_modal-primary .panel_hwc_modal-subtitle {
    opacity: 0.8;
    color: white;
}

html .panel_hwc_modal-primary .panel_hwc_modal-title {
    color: white;
}

html .panel_hwc_modal-primary .panel_hwc_modal-actions a {
    background-color: transparent !important;
    color: white;
}

html .panel_hwc_modal-secondary .panel_hwc_modal-heading {
    background: #e36159;
}

html .panel_hwc_modal-secondary .panel_hwc_modal-subtitle {
    opacity: 0.8;
    color: white;
}

html .panel_hwc_modal-secondary .panel_hwc_modal-title {
    color: white;
}

html .panel_hwc_modal-secondary .panel_hwc_modal-actions a {
    background-color: transparent !important;
    color: white;
}

html .panel_hwc_modal-tertiary .panel_hwc_modal-heading {
    background: #2baab1;
}

html .panel_hwc_modal-tertiary .panel_hwc_modal-subtitle {
    opacity: 0.8;
    color: white;
}

html .panel_hwc_modal-tertiary .panel_hwc_modal-title {
    color: white;
}

html .panel_hwc_modal-tertiary .panel_hwc_modal-actions a {
    background-color: transparent !important;
    color: white;
}

html .panel_hwc_modal-quartenary .panel_hwc_modal-heading {
    background: #734ba9;
}

html .panel_hwc_modal-quartenary .panel_hwc_modal-subtitle {
    opacity: 0.8;
    color: white;
}

html .panel_hwc_modal-quartenary .panel_hwc_modal-title {
    color: white;
}

html .panel_hwc_modal-quartenary .panel_hwc_modal-actions a {
    background-color: transparent !important;
    color: white;
}

html .panel_hwc_modal-success .panel_hwc_modal-heading {
    background: #47a447;
}

html .panel_hwc_modal-success .panel_hwc_modal-subtitle {
    opacity: 0.8;
    color: white;
}

html .panel_hwc_modal-success .panel_hwc_modal-title {
    color: white;
}

html .panel_hwc_modal-success .panel_hwc_modal-actions a {
    background-color: transparent !important;
    color: white;
}

html .panel_hwc_modal-warning .panel_hwc_modal-heading {
    background: #ed9c28;
}

html .panel_hwc_modal-warning .panel_hwc_modal-subtitle {
    opacity: 0.8;
    color: white;
}

html .panel_hwc_modal-warning .panel_hwc_modal-title {
    color: white;
}

html .panel_hwc_modal-warning .panel_hwc_modal-actions a {
    background-color: transparent !important;
    color: white;
}

html .panel_hwc_modal-danger .panel_hwc_modal-heading {
    background: #d2322d;
}

html .panel_hwc_modal-danger .panel_hwc_modal-subtitle {
    opacity: 0.8;
    color: white;
}

html .panel_hwc_modal-danger .panel_hwc_modal-title {
    color: white;
}

html .panel_hwc_modal-danger .panel_hwc_modal-actions a {
    background-color: transparent !important;
    color: white;
}

html .panel_hwc_modal-info .panel_hwc_modal-heading {
    background: #5bc0de;
}

html .panel_hwc_modal-info .panel_hwc_modal-subtitle {
    opacity: 0.8;
    color: white;
}

html .panel_hwc_modal-info .panel_hwc_modal-title {
    color: white;
}

html .panel_hwc_modal-info .panel_hwc_modal-actions a {
    background-color: transparent !important;
    color: white;
}

html .panel_hwc_modal-dark .panel_hwc_modal-heading {
    background: #171717;
}

html .panel_hwc_modal-dark .panel_hwc_modal-subtitle {
    opacity: 0.8;
    color: white;
}

html .panel_hwc_modal-dark .panel_hwc_modal-title {
    color: white;
}

html .panel_hwc_modal-dark .panel_hwc_modal-actions a {
    background-color: transparent !important;
    color: white;
}

html .panel_hwc_modal-transparent > .panel_hwc_modal-heading {
    background: none;
    border: 0;
    padding-left: 0;
    padding-right: 0;
}

html .panel_hwc_modal-transparent > .panel_hwc_modal-heading .panel_hwc_modal-actions {
    right: 0;
}

html .panel_hwc_modal-transparent > .panel_hwc_modal-heading + .panel_hwc_modal-body {
    border-radius: 5px;
}

html .panel_hwc_modal-transparent > .panel_hwc_modal-body {
    padding: 0;
    border-radius: 0;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

html .panel_hwc_modal .panel_hwc_modal-heading-transparent {
    background: none;
    border: 0;
    padding-left: 0;
    padding-right: 0;
}

html .panel_hwc_modal .panel_hwc_modal-heading-transparent .panel_hwc_modal-actions {
    right: 0;
}

html .panel_hwc_modal .panel_hwc_modal-heading-transparent + .panel_hwc_modal-body {
    border-radius: 5px;
}

.panel_hwc_modal-horizontal {
    display: table;
    width: 100%;
}

.panel_hwc_modal-horizontal .panel_hwc_modal-heading,
.panel_hwc_modal-horizontal .panel_hwc_modal-body,
.panel_hwc_modal-horizontal .panel_hwc_modal-footer {
    display: table-cell;
    vertical-align: middle;
}

.panel_hwc_modal-horizontal .panel_hwc_modal-heading {
    border-radius: 5px 0 0 5px;
}

.panel_hwc_modal-horizontal .panel_hwc_modal-heading + .panel_hwc_modal-body {
    border-radius: 0 5px 5px 0;
}

.panel_hwc_modal-horizontal .panel_hwc_modal-footer {
    border-radius: 0 5px 5px 0;
    margin-top: 0;
}

.panel_hwc_modal-action-toggle,
.panel_hwc_modal-action-dismiss {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.panel_hwc_modal-action-toggle:before {
    content: "\f0d7";
}

.panel_hwc_modal-collapsed .panel_hwc_modal-action-toggle:before {
    content: "\f0d8";
}

.panel_hwc_modal-action-dismiss:before {
    content: "\f00d";
}

.panel_hwc_modal-collapsed .panel_hwc_modal-body,
.panel_hwc_modal-collapsed .panel_hwc_modal-footer {
    display: none;
}